html,
body {
  background: #cce2fd54;
  background: #cce2fd54;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #23272f;
  height: 100%;
  width: 100%;
  background-color: #f6faf7;
}
/* Always MOBILE - on desktop or mobile */
.mobile-container {
  width: 100vw;
  max-width: 430px;
  min-height: 100vh;
  margin: 0 auto;
  background: #cce2fd54;
  box-shadow: 0 0 0 1px #eaeaea, 0 2px 18px 7px #e6eefe;
  position: relative;
  padding-bottom: 60px;
}
@media (max-width: 430px) {
  .mobile-container {
    box-shadow: none;
  }
}

