.dashboard {
  background-color: #f7f7f7;
  padding: 16px 12px 0 12px;
  /* same as header height */
}

.panel-row {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 600px) {
  .panel,
  .panel-mid {
    padding-left: 16px;
  }

  .tab-content {
    padding: 12px 2px;
  }

  .tab-content {
    padding: 12px 12px;
  }

  .order-card {
    padding: 10px 7px 8px 7px;
  }

  .nft-img {
    width: 45px;
    height: 45px;
  }
}