.verification-input {
  display: flex;
  width: 100%;
}

.verification-input input {
  flex: 1;       /* Make input take all available space */
  min-width: 60px;
  margin-top: 6px; /* to align vertically with button */
  margin-right: 6px;
}

.verification-input button {
  flex: 0 0 auto;   /* button's width is based on content */
  min-width: 70px;
  margin: 0;
  max-height: 38px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.reset-password {
    margin-top: 12px;
}