.main {
  max-width: 480px;   /* or whatever width you want for mobile layout */
  margin: 0 auto;     /* center on desktop */
  position: relative; /* so header can be positioned inside */
  background: #fff;
  background: #f3f8fa;
  min-height: 100vh;
  overflow-x: hidden;
}